<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>All You Can Watch</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container my-2">
         <h1 align="center" th:text = "'Cast di ' + ${produzione.titolo}"></h1>
         <table border="1" class = "table table-striped table-responsive-md">
            <thead align="center">
               <tr>
                  <th>Nome</th>
                  <th>Cognome</th>
                  <th>Sesso</th>
                  <th>Data di Nascita</th>
                  <th>Stato di Nascita</th>
               </tr>
            </thead>
            <tbody align="center">
               <tr th:each="attore : ${produzione.attori}">
                  <td th:text="${attore.nome}"></td>
                  <td th:text="${attore.cognome}"></td>
                  <td th:text="${attore.sesso}"></td>
                  <td th:text="${#dates.format(attore.data_nascita, 'dd-MM-yyyy')}"></td>
                  <td th:text="${attore.stato_nascita}"></td>
               </tr>
            </tbody>
         </table>
         <input type="button" value="Indietro" onClick="history.go(-1);return true;" class="btn btn-primary btn-sm mb-3">
         <a th:href = "@{/}" class="btn btn-primary btn-sm mb-3">Home</a>
      </div>
   </body>
</html>