<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org"
   xmlns:sec = "http://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>SerieTV App</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container my-2">
         <h1 align="center">Lista episodi</h1>
         <table border="1" class = "table table-striped table-responsive-md">
            <thead align="center">
               <tr>
                  <th>Serie TV - Stagione </th>
                  <th>Numero</th>
                  <th>Titolo</th>
                  <th>Trama</th>
                  <th>Durata (in minuti)</th>
                  <th>Ascolti</th>
                  <th sec:authorize="hasAuthority('Amministratore')">Opzioni</th>
               </tr>
            </thead>
            <tbody align="center">
               <tr th:each="episodio : ${stagione.episodi}">
                  <td th:text="${episodio.stagione.serieTv} +' - S' + ${episodio.stagione.numero}"></td>
                  <td th:text="${episodio.numero}"></td>
                  <td th:text="${episodio.titolo}"></td>
                  <td><a th:href = "@{/trama_episodio/{id_episodio}(id_episodio=${episodio.id})}" class="btn btn-primary">Leggi</a></td>
                  <td th:text="${episodio.durata_min}"></td>
                  <td th:text="${#numbers.formatDecimal(episodio.ascolti, 0, 'POINT', 0, 'POINT')}"></td>
                  <td sec:authorize="hasAuthority('Amministratore')"><a style = "margin: 10px" th:href = "@{/updateEpisodio/{id}(id=${episodio.id})}" class="btn btn-primary">&#9998;</a>
                     <a th:href = "@{/deleteEpisodio/{id}(id=${episodio.id})}" class="btn btn-danger">&#128465;</a>
                  </td>
               </tr>
            </tbody>
         </table>
         <div sec:authorize="hasAuthority('Amministratore')" style="text-align:center"><a th:href = "@{/newEpisodioForm/{id}(id=${stagione.id})}" class="btn btn-primary btn-sm mb-3">Aggiungi episodio</a></div>
         <a th:href="@{/stagioni/{id}(id=${stagione.serieTv.id})}" class="btn btn-primary btn-sm mb-3">Indietro</a>
         <a th:href = "@{/}" class="btn btn-primary btn-sm mb-3">Home</a>
      </div>
   </body>
</html>