<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:sec = "http://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>All You Can Watch</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container my-2">
         <h1 align="center">Lista Film</h1>
         <div>
            <form action="#" th:action="@{/filtroTitoloFilm}">				
               <input type="radio" id="inizio" name="ricerca" value="inizio" checked>
               <label for="inizio"> Inizia per </label>
               <input type="radio" id="dentro" name="ricerca" value="dentro">
               <label for="dentro"> Contiene </label>
               <input type="text" name = "paramTitolo" placeholder="Inserisci il titolo da cercare" class="form-control mb-4 col-4">
               <button type="submit" class="btn btn-primary btn-sm mb-3"> Cerca </button>
            </form>
         </div>
         <table border="1" class = "table table-striped table-responsive-md">
            <thead align="center">
               <tr>
                  <th>Titolo</th>
                  <th>Trama</th>
                  <th>Lingua originale</th>
                  <th>Genere</th>
                  <th>Sceneggiatura originale</th>
                  <th>Tipo</th>
                  <th>Durata</th>
                  <th>Anno di uscita</th>
                  <th>Cast</th>
                  <th sec:authorize="hasAuthority('Amministratore')"> Opzioni</th>
               </tr>
            </thead>
            <tbody align="center">
               <tr th:each="film : ${listFilm}">
                  <td th:text="${film.titolo}"></td>
                  <td><a th:href = "@{/trama/{id}(id=${film.id})}" class="btn btn-primary">Leggi</a></td>
                  <td th:text="${film.lingua_originale}"></td>
                  <td th:text="${film.genere}"></td>
                  <td th:text="${film.scenegg_originale} ? ${#strings.escapeXml('&#10003')} : 'x'"></td>
                  <td th:text="${film.tipo}"></td>
                  <td th:text="${film.durata_min}"></td>
                  <td th:text="${film.anno_uscita} "></td>
                  <td><a th:href = "@{/cast/{id}(id=${film.id})}" class="btn btn-primary">&#128065;</a></td>
                  <td sec:authorize="hasAuthority('Amministratore')"><a style = "margin: 10px" th:href = "@{/updateFilm/{id}(id=${film.id})}" class="btn btn-primary">&#9998;</a>
                     <a th:href = "@{/deleteFilm/{id}(id=${film.id})}" class="btn btn-danger">	&#128465;</a>
                  </td>
               </tr>
            </tbody>
         </table>
         <div style="text-align:center"><a sec:authorize="hasAuthority('Amministratore')" th:href = "@{/newFilmForm}" class="btn btn-primary btn-sm mb-3">Aggiungi film</a></div>
         <a th:href = "@{/}" class="btn btn-primary btn-sm mb-3">Home</a>
      </div>
   </body>
</html>