<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
   <head>
      <meta charset="ISO-8859-1">
      <title>All You Can Watch</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container my-2">
         <h1 align="center">All You Can Watch</h1>
         <a th:href = "@{/login}" class="btn btn-primary" sec:authorize = "isAnonymous()">Login</a>
         <a th:href = "@{/registrazione}" class="btn btn-primary" sec:authorize = "isAnonymous()">Registrati</a>
         <a th:href = "@{/logout}" class="btn btn-primary" sec:authorize = "isAuthenticated()"> Logout </a>
         <table style = "margin-left:auto; margin-right:auto" sec:authorize = "isAuthenticated()">
            <tr th:each="utente: ${u}">
               <td>
                  <h3 >
                     Benvenuto 
                     <a href="/" th:href="@{/paginaPersonale}" th:text=" ${utente.nome}">
                     </a>
                  </h3>
               </td>
            </tr>
         </table>
         <table border="1" class = "table table-striped table-responsive-md">
            <thead align="center">
               <tr>
                  <th>Home</th>
               </tr>
            </thead>
            <tbody align="center">
               <tr>
                  <td>
                     <img src="https://miro.medium.com/max/2880/0*eoqVzyWgYRxXEgiZ.jpeg" style="width:1000px;height:500px;">
                  </td>
               </tr>
               <tr>
                  <td>
                     <a th:href = "@{/attori}" class="btn btn-primary">Attori</a>
                     <a th:href = "@{/produzioni}" class="btn btn-primary">Produzioni</a>
                     <a th:href = "@{/film}" class="btn btn-primary">Film</a>
                     <a th:href = "@{/serieTv}" class="btn btn-primary">Serie tv</a>
                     <a th:href = "@{/search}" class="btn btn-primary">Ricerca</a>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>