<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <title>Login</title>
   </head>
   <body>
      <br>
      <div class="container">
         <div class="row">
            <div class="col-md-6 col-md-offset-3">
               <h1>Login</h1>
               <form th:action="@{/login}" method="post">
                  <div th:if="${param.error}">
                     <div class="alert alert-danger">Username o password non validi.
                     </div>
                  </div>
                  <div th:if="${param.ripristino}">
                     <div class="alert alert-info">La mail è stata inviata.
                     </div>
                  </div>
                  <div th:if="${param.logout}">
                     <div class="alert alert-info">Logout avvenuto con successo.</div>
                  </div>
                  <div class="form-group">
                     <label for="username">E-mail</label>: <input type="text" id="username" name="username" class="form-control" autofocus="autofocus" placeholder="Inserire e-mail" />
                  </div>
                  <div class="form-group">
                     <label for="password">Password</label>: <input type="password" id="password" name="password" class="form-control" placeholder="Inserire password" />
                  </div>
                  <input id = "mostraNascondi" type="button" style ="margin-bottom: 20px; margin-top: -5px" class="btn btn-primary btn-sm" onclick="showPwd()" value="Mostra password">
                  <script>
                     function showPwd() {
                         var input = document.getElementById('password');
                         var btn = document.getElementById('mostraNascondi');
                         if (input.type === "password") {
                           input.type = "text";
                           btn.value = "Nascondi password"
                         } else {
                           input.type = "password";
                           btn.value = "Mostra password"
                         }
                       }
                     
                  </script>
                  <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Log In" />
                  <br><br>
                  <span>Password smarrita? <a href="/" th:href="@{/passwordSmarrita}" >Ripristina la tua password</a></span>
                  <br><br>
                  <span>Nuovo utente? <a href="/" th:href="@{/registrazione}" >Registrati qui</a></span>
                  <br><br>
                  <a th:href = "@{/}" class="btn btn-primary btn-sm mb-3">Home</a>
               </form>
            </div>
         </div>
      </div>
   </body>
</html>