<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <title>Modifica password</title>
   </head>
   <body>
      <br>
      <div class="container">
         <div class="row">
            <div class="col-md-6 col-md-offset-3">
               <div th:if="${param.pswNotValid}">
                  <div class="alert alert-danger">La password inserita non è valida (almeno 8 caratteri, una maiuscola, una minuscola, un numero e un carattere speciale tra @ # . $ %) </div>
               </div>
               <div th:if="${param.notMatching}">
                  <div class="alert alert-danger">Le password inserite non corrispondono</div>
               </div>
               <div th:if="${param.wrongOld}">
                  <div class="alert alert-danger">La vecchia password inserita non corrisponde a quella associata al suo account</div>
               </div>
               <h1>Modifica password</h1>
               <form th:action="@{/inviaPasswordModifica}" method="post">
                  <div class="form-group">
                     <label for="vecchiaPassword">Vecchia password</label>: <input type="password" id="vecchiaPassword" name="vecchiaPassword" class="form-control" autofocus="autofocus" placeholder="Inserire la password che si desidera modificare" />
                  </div>
                  <div class="form-group" >
                     <label for="password">Nuova password</label>: <input type="password" id="password" name="password" class="form-control" placeholder="Inserire la nuova password" />
                  </div>
                  <div class="form-group">
                     <label for="confermaPassword">Conferma nuova password</label>: <input type="password" id="confermaPassword" name="confermaPassword" class="form-control" placeholder="Confermare la nuova password" />
                  </div>
                  <input id = "mostraNascondi" type="button" style ="margin-bottom: 20px; margin-top: -5px" class="btn btn-primary btn-sm" onclick="showPwd()" value="Mostra password">
                  <script>
                     function showPwd() {
                         var input1 = document.getElementById('vecchiaPassword');
                         var input2 = document.getElementById('password');
                         var input3 = document.getElementById('confermaPassword');
                         var btn = document.getElementById('mostraNascondi');
                         if (input1.type === "password") {
                           input1.type = "text";
                           input2.type = "text";
                           input3.type = "text";
                           btn.value = "Nascondi password"
                         } else {
                           input1.type = "password";
                           input2.type = "password";
                           input3.type = "password";
                           btn.value = "Mostra password"
                         }
                       }
                     
                  </script>
                  <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Invia" />
                  <br><br>
                  <div class="form-group">
                     <a th:href = "@{/}" class="form-control btn btn-primary">Home</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </body>
</html>