<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>All You Can Watch</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <h1 align="center">Nuova stagione</h1>
         <form action="#" th:action="@{/saveStagione}" th:object="${stagione}"
            method="POST">
            <label >Numero </label>
            <input type="number" min = "0" th:field="*{numero}"
               placeholder="Inseire il numero della stagione" class="form-control mb-4 col-4">
            <label >Trama </label>
            <input type="text" th:field="*{trama}"
               placeholder="Inserire la trama della stagione" class="form-control mb-4 col-4">
            <label >Anno di uscita </label>
            <input type="number" min = "0" th:field="*{anno_uscita}"
               placeholder="Inseire l'anno di uscita della stagione" class="form-control mb-4 col-4">
            <label >Serie tv </label>
            <select th:field = "*{serieTv}" class = "form-control mb-4 col-4"  required >
               <th:block th:each="serieTv : ${serie}">
                  <option th:text = "${serieTv.titolo} " th:value = "${serieTv.id}"/>
               </th:block>
            </select>
            <br>
            <button type="submit" class="btn btn-info col-2"> Salva </button>
         </form>
         <div>
            <a href="#" onclick="window.history.go(-1); return false;"> Indietro </a>
         </div>
      </div>
   </body>
</html>