<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:sec = "http://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>All You Can Watch</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <h1 align="center">Pagina personale</h1>
         <div th:if="${param.pswSuccess}">
            <div class="alert alert-info">Password modificata con successo!</div>
         </div>
         <table  sec:authorize = "isAuthenticated()">
            <tr th:each="utente: ${u}">
               <td>
                  Nome: 
                  <p style="display:inline" th:text=" ${utente.nome}"> </p>
                  <br><br>
                  Cognome: 
                  <p style="display:inline" th:text=" ${utente.cognome}"> </p>
                  <br><br>
                  Email: 
                  <p style="display:inline" th:text=" ${utente.email}"> </p>
                  <br><br>
                  Ruolo: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
                  <br><br>
               </td>
            </tr>
         </table>
         <div sec:authorize="hasAuthority('Utente Premium')">
            <a href="/" th:href="@{/modificaPassword}" >Modifica password</a> 
         </div>
         <br><br>
         <a href="#" onclick="window.history.go(-1); return false;"> Indietro </a>
      </div>
   </body>
</html>