<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <title>Ripristino password</title>
   </head>
   <body>
      <br>
      <form action="/inviaEmail" method="post">
         <div class="container">
            <div class="row">
               <div class="col-md-6 col-md-offset-3">
                  <h1>Ripristino password</h1>
                  <div th:if="${param.error}">
                     <div class="alert alert-danger">La mail non risulta registrata.
                     </div>
                  </div>
                  <label>Inserisci la mail con cui sei registrato, ti invieremo un link per creare una nuova password</label>
                  <div class="form-group">
                     <label for="username">E-mail</label>: <input type="text" id="username" name="username" class="form-control" autofocus="autofocus" placeholder="Inserire e-mail" />
                  </div>
                  <input type="submit" class = "btn btn-primary btn btn-primary" value="Invia mail" />					
                  <br><br>
                  <a th:href = "@{/}" class="btn btn-primary btn-sm mb-3">Home</a>
               </div>
            </div>
         </div>
      </form>
   </body>
</html>