<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>All You Can Watch</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container my-2">
         <h1 align="center">Lista Produzioni Cinematografiche</h1>
         <div>
            <form action="#" th:action="@{/filtroTitoloProd}">				
               <input type="radio" id="inizio" name="ricerca" value="inizio" checked>
               <label for="inizio"> Inizia per </label>
               <input type="radio" id="dentro" name="ricerca" value="dentro">
               <label for="dentro"> Contiene </label>
               <input type="text" name = "paramTitolo" placeholder="Inserisci il titolo da cercare" class="form-control mb-4 col-4">
               <button type="submit" class="btn btn-primary btn-sm mb-3"> Cerca </button>
            </form>
         </div>
         <table border="1" class = "table table-striped table-responsive-md">
            <thead align="center">
               <tr>
                  <th>Titolo</th>
                  <th>Tipologia</th>
                  <th>Trama</th>
                  <th>Lingua originale</th>
                  <th>Genere</th>
                  <th>Sceneggiatura originale</th>
                  <th>Cast</th>
               </tr>
            </thead>
            <tbody align="center">
               <tr th:each="produzioni : ${listProduzioni}">
                  <td th:text="${produzioni.titolo}"></td>
                  <td th:text="${produzioni.tipologia_produzione}"></td>
                  <td><a th:href = "@{/trama/{id}(id=${produzioni.id})}" class="btn btn-primary">Leggi</a></td>
                  <td th:text="${produzioni.lingua_originale}"></td>
                  <td th:text="${produzioni.genere}"></td>
                  <td th:text="${produzioni.scenegg_originale} ? ${#strings.escapeXml('&#10003')} : 'x'"></td>
                  <td><a th:href = "@{/cast/{id}(id=${produzioni.id})}" class="btn btn-primary">&#128065;</a></td>
               </tr>
            </tbody>
         </table>
      </div>
      <a th:href = "@{/}" class="btn btn-primary btn-sm mb-3">Home</a>
   </body>
</html>