<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Registrazione</title>
    
</head>

<body>
  
	<br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <div th:if="${param.success}">
                    <div class="alert alert-info">Registrazione avvenuta con successo!</div>
                </div>
				
                <h1>Registrazione</h1>
                <form th:action="@{/registrazione}" th:object="${utente}" method="post">
					<p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">Errore di validazione
                    </p>
                    <div class="form-group" th:classappend="${#fields.hasErrors('nome')}? 'has-error':''">
                        <label for="nome" class="control-label">Nome</label> 
                        <input id="nome" class="form-control" th:field="*{nome}" th:required = "required" placeholder="Inserire nome"/>
                        <p style = "color: red " class="error-message" th:each="error: ${#fields.errors('nome')}" th:text="${error}">Errore di validazione</p>
                        </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('cognome')}? 'has-error':''">
                        <label for="cognome" class="control-label">Cognome</label> 
                        <input id="cognome" class="form-control" th:field="*{cognome}" th:required = "required" placeholder="Inserire cognome"/>
                        <p style = "color: red " class="error-message" th:each="error : ${#fields.errors('cognome')}" th:text="${error}">Errore di validazione</p>
                        </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                        <label for="email" class="control-label">E-mail</label> 
                        <input id="email" class="form-control" th:field="*{email}" th:required = "required" placeholder="Inserire e-mail"/>
                         <p style = "color: red "class="error-message" th:each="error : ${#fields.errors('email')}" th:text="${error}">Errore di validazione</p>
                        
                        </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                        <label style = "margin-bottom: 1px"for="password" class="control-label">Password</label>
                        <label style = "font-size: 13px">(almeno 8 caratteri, una maiuscola, una minuscola, un numero e un carattere speciale tra @ # . $ %)</label>
                        <input type="password"id="password" class="form-control" th:field="*{password}" th:required = "required" placeholder="Inserire password"/>
                        <input id = "mostraNascondi" type="button" style ="margin-top: 10px" class="btn btn-primary btn-sm" onclick="showPwd()" value="Mostra password">
                        
                        <p style = "color: red "  class="error-message" th:each="error : ${#fields.errors('password')}" th:text="${error}">Errore di validazione</p>
                        </div>
                        
                     <div class="form-group" th:classappend="${#fields.hasErrors('confermaPassword')}? 'has-error':''">
                        <label  for="confermaPassword" class="control-label">Conferma Password</label> 
                        
                        <input type="password" id="" class="form-control" th:field="*{confermaPassword}" th:required = "required" placeholder="Conferma password"/>
                         <script>
					    	function showPwd() {
						        var input = document.getElementById('password');
						        var input2 = document.getElementById('confermaPassword');
						        var btn = document.getElementById('mostraNascondi');
						        if (input.type === "password") {
						          input.type = "text";
						          input2.type = "text";
						          btn.value = "Nascondi password"
						        } else {
						          input.type = "password";
						          input2.type = "password";
						          btn.value = "Mostra password"
						        }
						      }
					    	
						</script>
                         <p style = "color: red " class="error-message" th:each="error : ${#fields.errors('confermaPassword')}" th:text="${error}">Errore di validazione</p>
                        </div>
                    
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary">Registrati</button>
                        <span>Sei già registrato? <a href="/" th:href="@{/login}">Accedi</a></span>
                        <br>
                        <br>
                        <a th:href = "@{/}" class="form-control btn btn-primary">Home</a>
                    </div>

                </form>
            </div>
        </div>
        
    </div>
</body>
</html>