<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>SerieTV App</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <h1 align="center">Ricerca info serie TV</h1>
         <form action="#" th:action="@{/searchSerieTv}">				
            <label >Serie TV: </label>
            <input type="text" name = "paramTitolo" placeholder="Inserisci la serie TV da cercare" class="form-control mb-4 col-4">
            <button type="submit" class="btn btn-info col-2"> Cerca </button>
         </form>
         <br>
         <a th:href = "@{/}"> Ritorno alla home</a>
         <table style="width:100%">
            <thead align="center">
               <tr>
                  <th>
                     <h1>Risultati</h1>
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr th:each="serieTv : ${listFilteredserieTv}">
                  <td>
                     <table style="width:100%">
                        <tbody>
                           <tr>
                              <td class=" h5 p-3 mb-2 bg-primary text-white text-center" th:text="'Serie TV: ' + ${serieTv.titolo}" >
                              </td>
                           </tr>
                           <tr>
                              <td style="padding: 25px 0px 25px 0px " th:if = "${serieTv.trama} != ''" th:text="'Trama serie TV: ' + ${serieTv.trama}"></td>
                           </tr>
                           <tr>
                              <td>
                                 <table style="width:100%">
                                    <tbody>
                                       <tr th:each="stagione : ${serieTv.getStagioni()}">
                                          <td style = "width:10%" class=" h5"  th:text="(${stagione.anno_uscita} != 0) ? 'Stagione ' +  ${stagione.numero} + ' (' + ${stagione.anno_uscita} + ')' : 'Stagione ' +  ${stagione.numero}">
                                          </td>
                                          <td>
                                             <table style="width:95%; text-align:center" border="1" class = "table table-striped table-responsive-md">
                                                <thead align="center">
                                                   <tr>
                                                      <th>Numero</th>
                                                      <th>Titolo</th>
                                                      <th>Trama</th>
                                                      <th>Durata (in minuti)</th>
                                                      <th>Ascolti</th>
                                                   </tr>
                                                </thead>
                                                <tbody align="center">
                                                   <tr th:each="episodio : ${stagione.getEpisodi()}">
                                                      <td th:text="${episodio.numero}"></td>
                                                      <td th:text="${episodio.titolo}"></td>
                                                      <td th:text="${episodio.trama}"></td>
                                                      <td th:text="${episodio.durata_min}"></td>
                                                      <td th:text="${episodio.ascolti}"></td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>