<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
   xmlns:sec = "http://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>SerieTV App</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container my-2">
         <h1 align="center">Lista serie tv</h1>
         <div>
            <form action="#" th:action="@{/filtroTitoloSerie}">				
               <input type="radio" id="inizio" name="ricerca" value="inizio" checked>
               <label for="inizio"> Inizia per </label>
               <input type="radio" id="dentro" name="ricerca" value="dentro">
               <label for="dentro"> Contiene </label>
               <input type="text" name = "paramTitolo" placeholder="Inserisci il titolo da cercare" class="form-control mb-4 col-4">
               <button type="submit" class="btn btn-primary btn-sm mb-3"> Cerca </button>
            </form>
         </div>
         <table border="1" class = "table table-striped table-responsive-md">
            <thead align="center">
               <tr>
                  <th>Titolo</th>
                  <th>Trama</th>
                  <th>Lingua originale</th>
                  <th>Genere </th>
                  <th>Sceneggiatura originale</th>
                  <th>In corso</th>
                  <th>Titolo sigla </th>
                  <th> Spin off di </th>
                  <th>Totale stagioni </th>
                  <th>Cast</th>
                  <th sec:authorize="hasAuthority('Amministratore')">Opzioni</th>
               </tr>
            </thead>
            <tbody align="center">
               <tr th:each="serieTv : ${listSerieTv}">
                  <td th:text="${serieTv.titolo}"></td>
                  <td><a th:href = "@{/trama/{id}(id=${serieTv.id})}" class="btn btn-primary">Leggi</a></td>
                  <td th:text="${serieTv.lingua_originale}"></td>
                  <td th:text="${serieTv.genere}"></td>
                  <td th:text="${serieTv.scenegg_originale} ? ${#strings.escapeXml('&#10003')} : 'x'"></td>
                  <td th:text="${serieTv.in_corso} ?  ${#strings.escapeXml('&#10003')} : 'x'"></td>
                  <td th:text="${serieTv.titolo_sigla} "></td>
                  <td th:text="${serieTv.serieTvSpinOff} "></td>
                  <td><a th:href = "@{/stagioni/{id}(id=${serieTv.id})}" th:text="${serieTv.getNumeroStagioni}" class="btn btn-primary"></a></td>
                  <td><a th:href = "@{/cast/{id}(id=${serieTv.id})}" class="btn btn-primary">&#128065;</a></td>
                  <td sec:authorize="hasAuthority('Amministratore')"><a style = "margin: 10px" th:href = "@{/updateSerieTv/{id}(id=${serieTv.id})}" class="btn btn-primary">&#9998;</a>
                     <a th:href = "@{/deleteSerieTv/{id}(id=${serieTv.id})}" class="btn btn-danger">	&#128465;</a>
                  </td>
               </tr>
            </tbody>
         </table>
         <div style="text-align:center"><a sec:authorize="hasAuthority('Amministratore')" th:href = "@{/newSerieTvForm}" class="btn btn-primary btn-sm mb-3">Aggiungi serie tv</a></div>
         <a th:href = "@{/}" class="btn btn-primary btn-sm mb-3">Home</a>
      </div>
   </body>
</html>