<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>All You Can Watch</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container my-2">
         <table border="1" class = "table table-striped table-responsive-md">
            <thead align="center">
               <tr>
                  <th>
                     <h1 align="center" th:text = "'Trama di: ' + ${titolo}"></h1>
                  </th>
               </tr>
            </thead>
            <tbody align="center">
               <tr>
                  <td th:text="${trama}"></td>
               </tr>
            </tbody>
         </table>
         <input type="button" value="Indietro" onClick="history.go(-1);return true;" class="btn btn-primary btn-sm mb-3">
      </div>
   </body>
</html>