<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>All You Can Watch</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <h1 align="center">Modifica film</h1>
         <form action="#" th:action="@{/saveUpdateFilm}" th:object="${film}"
            method="POST">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{tipologia_produzione}" />
            <label >Titolo  </label>
            <input type="text" th:field="*{titolo}"
               placeholder="Inserire il titolo del film" class="form-control mb-4 col-4">
            <label >Trama  </label>
            <input type="text" th:field="*{trama}"
               placeholder="Inserire la trama del film" class="form-control mb-4 col-4">
            <label >Lingua originale  </label>
            <input type="text" th:field="*{lingua_originale}"
               placeholder="Inserire la lingua originale del film" class="form-control mb-4 col-4">
            <label >Genere  </label>
            <input type="text" th:field="*{genere}"
               placeholder="Inserire il genere del film" class="form-control mb-4 col-4">
            <label >Tipo  </label>
            <input type="text" th:field="*{tipo}"
               placeholder="Inserire la tipologia (es. Film/Anime/Documentario)" class="form-control mb-4 col-4">
            <label >Durata (minuti)  </label>
            <input type="text" th:field="*{durata_min}"
               placeholder="Inserire la durata del film" class="form-control mb-4 col-4">      
            <label >Anno di uscita  </label>
            <input type="text" th:field="*{anno_uscita}"
               placeholder="Inserire l'anno di uscita" class="form-control mb-4 col-4">
            <div>
               <label> Seleziona il cast: </label>
               <div>
                  <th:block th:each="attore : ${listAttori}">
                     <div>
                        <input type="checkbox" th:field="*{attori}" th:text="${attore.nome} + ' ' + ${attore.cognome}" th:value = "${attore.id}" class="m-2" />
                     </div>
                  </th:block>
               </div>
            </div>
            <br>
            <button type="submit" class="btn btn-info col-2"> Salva Modifiche </button>
         </form>
         <a th:href = "@{/film}"> Ritorno alla lista dei film</a>
      </div>
   </body>
</html>