<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>SerieTV App</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container my-2">
         <h1 align="center">Lista attori</h1>
         <table border="1" class = "table table-striped table-responsive-md">
            <thead align="center">
               <tr>
                  <th>Nome</th>
                  <th>Cognome</th>
                  <th>Sesso</th>
                  <th>Data di Nascita</th>
                  <th>Stato di Nascita</th>
                  <th>Opzioni</th>
               </tr>
            </thead>
            <tbody align="center">
               <tr th:each="attore : ${listAttori}">
                  <td th:text="${attore.nome}"></td>
                  <td th:text="${attore.cognome}"></td>
                  <td th:text="${attore.sesso}"></td>
                  <td th:text="${#dates.format(attore.data_nascita, 'dd-MM-yyyy')}"></td>
                  <td th:text="${attore.stato_nascita}"></td>
                  <td> <a style = "margin: 10px" th:href = "@{/updateAttore/{id}(id=${attore.id})}" class="btn btn-primary">&#9998;</a>
                     <a th:href = "@{/deleteAttore/{id}(id=${attore.id})}" class="btn btn-danger">&#128465;</a>
                  </td>
               </tr>
            </tbody>
         </table>
         <div style="text-align:center"><a th:href = "@{/newAttoreForm}" class="btn btn-primary btn-sm mb-3">Aggiungi attore</a></div>
         <a th:href = "@{/}" class="btn btn-primary btn-sm mb-3">Home</a>
      </div>
   </body>
</html>