<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org">
   <head>
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <style>
         table td{
         vertical-align:top;
         border:solid 1px #888;
         padding:10px;
         }
      </style>
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="error-template">
                  <h1>
                     Oops!
                     <span>&#9785;</span>
                  </h1>
                  <br>
                  <div class="error-details">
                     Ci dispiace, ma si è verificato un errore! 
                  </div>
                  <br>
                  <table>
                     <tr>
                        <td>Date</td>
                        <td th:text="${timestamp}"/>
                     </tr>
                     <tr>
                        <td>Path</td>
                        <td th:text="${path}"/>
                     </tr>
                     <tr>
                        <td>Error</td>
                        <td th:text="${error}"/>
                     </tr>
                     <tr>
                        <td>Status</td>
                        <td th:text="${status}"/>
                     </tr>
                     <tr>
                        <td>Message</td>
                        <td th:text="${message}"/>
                     </tr>
                     <tr>
                        <td>Exception</td>
                        <td th:text="${exception}"/>
                     </tr>
                     <tr>
                        <td>Trace</td>
                        <td>
                           <pre th:text="${trace}"/></pre>
                        </td>
                     </tr>
                  </table>
                  <br>
                  <div class="error-actions">
                     <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                     Home </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>