<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>SerieTV App</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container my-2">
         <h1 align="center">Serie TV App</h1>
         <table border="1" class = "table table-striped table-responsive-md">
            <thead align="center">
               <tr>
                  <th>Home</th>
               </tr>
            </thead>
            <tbody align="center">
               <tr>
                  <td>
                     <img src="https://miro.medium.com/max/2880/0*eoqVzyWgYRxXEgiZ.jpeg" style="width:1000px;height:500px;">
                  </td>
               </tr>
               <tr>
                  <td>
                     <a th:href = "@{/attori}" class="btn btn-primary">Attori</a>
                     <a th:href = "@{/serieTv}" class="btn btn-primary">Serie tv</a>
                     <a th:href = "@{/stagioni}" class="btn btn-primary">Stagioni</a>
                     <a th:href = "@{/episodi}" class="btn btn-primary">Episodi</a>
                     <a th:href = "@{/search}" class="btn btn-primary">Ricerca</a>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>