<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>SerieTV App</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <h1 align="center">Nuovo attore</h1>
         <form action="#" th:action="@{/saveAttore}" th:object="${attore}" method="POST">
            <label >Nome </label>
            <input type="text" th:field="*{nome}"
               placeholder="Inserire il nome dell'attore" class="form-control mb-4 col-4">
            <label >Cognome </label>
            <input type="text" th:field="*{cognome}"
               placeholder="Inserire il cognome dell'attore" class="form-control mb-4 col-4">
            <label >Sesso:  </label>
            <select th:field="*{sesso}" class = "form-control mb-4 col-4">
               <option th:value="''" th:text="--"></option>
               <option th:value="'Maschio'" th:text="Maschio"></option>
               <option th:value="'Femmina'" th:text="Femmina"></option>
               <option th:value="'Altro'" th:text="Altro"></option>
            </select>
            <label >Data di nascita </label>
            <input type="date" th:field="*{data_nascita}"
               placeholder="Inserire la data di nascita dell'attore" class="form-control mb-4 col-4">
            <label >Stato di nascita </label>
            <input type="text" th:field="*{stato_nascita}"
               placeholder="Inserire lo stato di nascita dell'attore" class="form-control mb-4 col-4">
            <button type="submit" class="btn btn-info col-2"> Salva </button>
         </form>
         <a th:href = "@{/attori}"> Ritorno alla lista attori</a>
      </div>
   </body>
</html>