<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>SerieTV App</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <h1 align="center">Nuova serie TV</h1>
         <form action="#" th:action="@{/saveSerieTv}" th:object="${serieTv}"
            method="POST">
            <label >Titolo  </label>
            <input type="text" th:field="*{titolo}"
               placeholder="Inserire il titolo della serie TV" class="form-control mb-4 col-4">
            <label >Trama  </label>
            <input type="text" th:field="*{trama}"
               placeholder="Inserire la trama della serie TV" class="form-control mb-4 col-4">
            <label >Lingua originale  </label>
            <input type="text" th:field="*{lingua_originale}"
               placeholder="Inserire la lingua originale della serie TV" class="form-control mb-4 col-4">
            <label >Genere  </label>
            <input type="text" th:field="*{genere}"
               placeholder="Inserire il genere della serie TV" class="form-control mb-4 col-4">
            <div class="form-check">
               <input type="checkbox" th:field="*{scenegg_originale}" class="form-check-input">
               <label class="form-check-label" for="exampleCheck1">Sceneggiatura originale</label>
            </div>
            <br>
            <div class="form-check">
               <input type="checkbox" th:field="*{in_corso}" class="form-check-input">
               <label class="form-check-label" for="exampleCheck1">In corso (non ancora terminata)</label>
            </div>
            <br>
            <label >Titolo sigla  </label>
            <input type="text" th:field="*{titolo_sigla}"
               placeholder="Inserire il titolo della sigla" class="form-control mb-4 col-4">
            <label >Spin off di:  </label>
            <select th:field = "*{serieTvSpinOff}" class = "form-control mb-4 col-4" >
               <option value="0"> -- </option>
               <th:block th:each="serieTv : ${listSerieTv}">
                  <option th:text = "${serieTv.titolo} " th:value = "${serieTv.id}"/>
               </th:block>
            </select>
            <div>
               <label> Seleziona il cast: </label>
               <div>
                  <th:block th:each="attore : ${listAttori}">
                     <div>
                        <input type="checkbox" th:field="*{attori}" th:text="${attore.nome} + ' ' + ${attore.cognome}" th:value = "${attore.id}" class="m-2" />
                     </div>
                  </th:block>
               </div>
            </div>
            <br>
            <button type="submit" class="btn btn-info col-2"> Salva </button>
         </form>
         <a th:href = "@{/serieTv}"> Ritorno alla lista serie TV</a>
      </div>
   </body>
</html>