<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>SerieTV App</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	
</head>
<body>
	<div class="container my-2">
		<h1 align="center">Lista serie tv</h1>		
		
			<table border="1" class = "table table-striped table-responsive-md">
				<thead align="center">
					<tr>
						<th>Titolo</th>
						<th>Trama</th>
						<th>Lingua originale</th>
						<th>Genere </th>
						<th>Sceneggiatura originale</th>
						<th>In corso</th>
						<th>Titolo sigla </th>
						<th> Spin off di </th>
						<th>Totale stagioni </th>
						<th>Cast</th>
						<th>Opzioni</th>
					</tr>
				</thead>
				<tbody align="center">
						<tr th:each="serieTv : ${listSerieTv}">
							<td th:text="${serieTv.titolo}"></td>
							<td th:text="${serieTv.trama}"></td>
							<td th:text="${serieTv.lingua_originale}"></td>
							<td th:text="${serieTv.genere}"></td>
							<td th:text="${serieTv.scenegg_originale} ? ${#strings.escapeXml('&#10003')} : 'x'"></td>
							<td th:text="${serieTv.in_corso} ?  ${#strings.escapeXml('&#10003')} : 'x'"></td>
							<td th:text="${serieTv.titolo_sigla} "></td>
							<td th:text="${serieTv.serieTvSpinOff} "></td>
							<td th:text="${serieTv.getNumeroStagioni}"></td>
							<td><a th:href = "@{/cast/{id}(id=${serieTv.id})}" class="btn btn-primary">&#128065;</a></td>
							<td><a style = "margin: 10px" th:href = "@{/updateSerieTv/{id}(id=${serieTv.id})}" class="btn btn-primary">&#9998;</a>
								<a th:href = "@{/deleteSerieTv/{id}(id=${serieTv.id})}" class="btn btn-danger">	&#128465;</a></td>
						</tr>
				</tbody>
			</table>
			<div style="text-align:center"><a th:href = "@{/newSerieTvForm}" class="btn btn-primary btn-sm mb-3">Aggiungi serie tv</a></div>
			<a th:href = "@{/}" class="btn btn-primary btn-sm mb-3">Home</a>
	</div>
</body>
</html>




