<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>SerieTV App</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	
</head>
<body>
	<div class="container my-2">
		<h1 align="center">Lista stagioni</h1>		
		
			<table border="1" class = "table table-striped table-responsive-md">
				<thead align="center">
					<tr>
						<th>Serie Tv</th>
						<th>Numero</th>
						<th>Trama</th>
						<th>Anno di uscita</th>
						<th>Totale episodi</th>						
						<th>Opzioni</th>
					</tr>
				</thead>
				<tbody align="center">
						<tr th:each="stagione : ${listStagioni}">
							<td th:text="${stagione.serieTv}"></td>
							<td th:text="${stagione.numero}"></td>
							<td th:text="${stagione.trama}"></td>
							<td th:text="${stagione.anno_uscita}"></td>
							<td th:text="${stagione.getNumeroEpisodi()}"></td>							
							<td><a style = "margin: 10px" th:href = "@{/updateStagione/{id}(id=${stagione.id})}" class="btn btn-primary">&#9998;</a>
								<a th:href = "@{/deleteStagione/{id}(id=${stagione.id})}" class="btn btn-danger">&#128465;</a></td>
						</tr>
				</tbody>
			</table>
			<div style="text-align:center"><a th:href = "@{/newStagioneForm}" class="btn btn-primary btn-sm mb-3">Aggiungi stagione</a></div>
			<a th:href = "@{/}" class="btn btn-primary btn-sm mb-3">Home</a>
	</div>
</body>
</html>




