<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="ISO-8859-1">
      <title>SerieTV App</title>
      <link rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   </head>
   <body>
      <div class="container">
         <h1 align="center">Modifica episodio</h1>
         <form action="#" th:action="@{/saveEpisodio}" th:object="${episodio}"
            method="POST">
            <input type="hidden" th:field="*{id}" />
            <label >Numero  </label>
            <input type="number" min = "0" th:field="*{numero}"
               placeholder="Inserire il numero episodio (per la stagione)" class="form-control mb-4 col-4">
            <label >Titolo  </label>
            <input type="text" th:field="*{titolo}"
               placeholder="Inserire il titolo dell'episodio" class="form-control mb-4 col-4">
            <label >Trama  </label>
            <input type="text" th:field="*{trama}"
               placeholder="Inserire la trama dell'episodio" class="form-control mb-4 col-4">
            <label >Durata (in minuti)  </label>
            <input type="number" min = "0" th:field="*{durata_min}"
               placeholder="Inserire la durata dell'episodio" class="form-control mb-4 col-4">
            <label >Ascolti  </label>
            <input type="number" min = "0" th:field="*{ascolti}"
               placeholder="Inserire l'ammontare degli ascolti dell'episodio" class="form-control mb-4 col-4">
            <label >Stagione di riferimento </label>
            <select th:field = "*{stagione}" class = "form-control col-sm-5"  required >
               <option value=""> -- </option>
               <th:block th:each="stagione : ${listStagioni}">
                  <option th:text = "${stagione.serieTv} + ' - Stagione ' + ${stagione.numero}" th:value = "${stagione.id}"/>
               </th:block>
            </select>
            <br><br>
            <button type="submit" class="btn btn-info col-2"> Salva </button>
         </form>
         <a th:href = "@{/episodi}"> Ritorno alla lista episodi </a>
      </div>
   </body>
</html>